.Card {
  max-width: 1159px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.Cards{
  max-width: 1559px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
a{
text-decoration: none;
}
#basket{
color: rgba(75, 169, 255, 1);
width: 24.17px;
height: 17.58px;
/* margin-bottom: 100px; */
}
.card{
width: 325px;
height: 493.01px;
margin-left: 40px;
margin-top: 40px;
border: 1px solid rgba(166, 166, 166, 1)
}
.cardImage{
width: 248.5px;
height: 248.5px;


}
.chegara{
  margin: 30px;
}
.cardName{
font-family: Gilroy;
font-size: 20px;
font-weight: 700;
text-align: left;
width: px;
height: 30px;


}
.cardType{
font-family: Gilroy;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
/* margin-top: 50px; */
}
.narxlari{
display: flex;
justify-content: space-between;
align-items: center;
}
.price{
width: 80px;
height: 30px;
display: flex;
justify-content: center;
align-items: center;
color: white;
background: rgba(75, 169, 255, 1);
font-family: Gilroy;
font-size: 10px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
border-radius: 5px;

}
Link{
list-style: none;
text-decoration: none;
}
.chegara button{
  width: 250px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: rgba(75, 169, 255, 1);
  color: white;
  font-size: 24px;
  font-family: Gilroy;
}
.H11{
  text-align: center;
}