.cars{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1480px;
    margin: 0 auto;
    padding: 2rem;
}

.search{
    
    box-shadow: 0px 0px 10px 2px;
    margin-bottom: 20px;
    margin-top:10px;
    transition: .3s;

}
.car:hover{
    transform: scale(1.1);
}
.carImage{
    width: 400px;
}
.H2{
    text-align: center;
    
}
.ad{
    text-decoration: none;
    color: black;
}
.input{
    font-size: 17px;
    padding: 8px 30px;
    border-radius: 30px;
    /* border: 0px solid rgba(0, 0, 0, 0.461); */
}
.res{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    margin-right: 25px;
    background-color: white;
    border-radius: 5px;
    z-index: 5 ;
    margin-left: 50px;
}
.res:active{
    transform: scale(0.9);
    transition: .3s;
}
.add{
    text-decoration: none;
    margin-right: 25px;
    color: black;
    height: 100%;

}
.result{
   height: 100px; 
}